html, body {
    height: 100%;
    margin: 0;
    padding: 0; }

.contenedor {
    display: flex;
    justify-content: space-around; 
    width: 100vw; 
}

.icono {
    text-align: center;
    color: #000000;
    opacity: 1;
}

.icono i {
    font-size: 4rem;    }

.icono p {
    margin-top: 10px; 
}


footer {position: fixed; bottom: 0; width: 100%;}
    .contenedor2 {
        display: flex;
        justify-content: space-evenly; 
        width: 100%; 
        max-width: 800px; }

@media (max-width: 768px) {

    html, body {
        height: 100%;
        margin: 0;
        padding: 0; }

    footer {
        width: 100%;
        position: relative;
    }

#instructions p {
    font-size: 12px;
    text-align: center;}
}